.container {
  min-height: 100%;
  height: 100%;
}

.main {
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 100%;
}

.header {
  display: grid;
  place-items: center;
  padding: 126px 0;
}

.header h1 {
  margin: 0;
  margin-bottom: 4px;
  font-size: 3rem;
}

.header p {
  margin: 0;
  margin-bottom: 48px;
}

.code {
  display: flex;
  padding: 92px 0;
  background-color: whitesmoke;
  box-shadow: inset 0 0 12px hsla(0, 0%, 20%, 30%);
  overflow-y: auto;
}

.code code {
  display: block;
  margin: 0 auto;
  padding: 48px 20px;
  max-width: 1024px;
  height: min-content;
  overflow-wrap: break-word;
}

.form {
  display: grid;
  grid-template-columns: 1fr 12ch;
  align-items: flex-end;
  gap: 20px;
  padding: 0 20px;
  width: 100%;
  max-width: 640px;
}

.form input {
  padding: 12px 20px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid gray;
}

.form button {
  padding: 12px 20px;
  border-radius: 6px;
  border: 1px solid gray;
  cursor: pointer;
}
.form label,
.form label > span {
  display: block;
  font-size: 0.8em;
  font-weight: 700;
}

.form label > span {
  margin-bottom: 4px;
  padding: 0 6px;
}

.spin {
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  display: inline-block;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
